#cart{
    position: absolute;
    top: 0;
    right: 2%;
    width: auto;
    margin-top: 60px;
    background-color: whitesmoke;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,250px);
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

table{
    width:80%;
    margin-top: 100px;
    margin-left: 80%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
table,th,tr,td{
    border: 1px solid black;
    padding: 5px;
}
table img{
    width: 50px;
    height: 50px;
}
#emptycart{
    width: 500px;
    height: 500px;
    margin-left: 60%;
}

